<center><h1>Users of this application</h1>
 
<table class="table table-striped">
  <tr>
    <th>Username</th>
    <th>Date of Birth</th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.dob %></td>
    </tr>
  <% end %>
</table>
</center>
