<br>
<h1> <center> Welcome to the VideoMaker Application <center> </h1>

<br>
<br>
<center>
<%= link_to 'Sign up to get started', new_user_path %></center>
<br>
<center><%= link_to 'Existing users log in', login_path%></center>
